---
import Layout from "../layouts/Layout.astro";
import ToDo from "../components/ToDo.astro";
import Calendar from "../components/Calendar.astro";
import Timer from "../components/Timer.astro";
---

<Layout title="Diary App">
  <main class="grid-cols-3 grid">
    <section class="w-full h-full">
      <ToDo title="ToDo"/>
    </section>
    <section class="w-full h-full border-l-2 border-r-2">
      <Calendar title="Calendar" />
    </section>
    <section class="w-full h-full">
      <Timer title="Timer" />
    </section>
  </main>
</Layout>
