---
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<div>
  <h1 class="bg-white text-gray-800 flex flex-row">
    {title}
    <div class="check"></div>
  </h1>
</div>
<style>
  .check {
    width: 34px;
    height: 34px;
    background-image: url("../assets/img/checkIcon.svg");
    background-size: cover;
  }
</style>
